2장

In [1]:
a=(80+75+55)/3
print(a)

70.0

In [2]:
if 13%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

In [18]:
a="881120-1068234"

print(a[0:6])
print(a[7:14])

881120
1068234

In [9]:
pin = "881120-1068234"

pin[7]

'1'

In [19]:
a = "a:b:c:d"
a.replace(":", "#")

'a#b#c#d'

In [22]:
a=[1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [23]:
" ".join(['Life', 'is', 'too', 'short'])

'Life is too short'

In [54]:
#8
t1=(1, 2, 3)
t2=(4,)
t1+t2

(1, 2, 3, 4)

In [47]:
a[[1]] = 'python'
리스트는 쓸 수 없다.

In [29]:
a = {'A':90, 'B':80, 'C':70}
a.pop("B")

80

In [30]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
s1 = set(a)
s1

{1, 2, 3, 4, 5}

In [31]:
b 역시 바뀐다.
동일한 리스트를 가리키는 변수이다.

[1, 4, 3]

3장

In [ ]:
shirt

In [51]:
total=0
a=0
while a<1000:
    a+=1
    if a%3==0:
        total+=a
        
print(total)

166833

In [1]:

a=0

while a<5:
    a+=1
    print(a*"*", (5-a)*" ")

*
**
***
****
*****

In [52]:
a=0

for i in range(1, 101):
    a+=1
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [4]:
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total=0
for i in a:
    total+=i
print(total/10)

79.0

In [ ]:
[n*2 for n in numbers if n%2==1]

4장

In [11]:
def is_odd(a):
    if a%2==0:
        return True
    else:
        return False

In [15]:
def average(*a):

    total=0
    for i in a:
        total+=i
        
    print(total/len(a))

In [19]:
input1 = int(input("첫번째 숫자를 입력하세요:"))
input2 = int(input("두번째 숫자를 입력하세요:"))

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

In [20]:
print("you", "need", "python")

you need python

In [22]:
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()

f2 = open("test.txt", 'r')
print(f2.read())

Life is too short

In [23]:
f1 = open("test.txt", 'a')
f1.close()