2장

In [1]:
a=(80+75+55)/3
print(a)

70.0

In [2]:
if 13%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

In [18]:
a="881120-1068234"

print(a[0:6])
print(a[7:14])

881120
1068234

In [9]:
pin = "881120-1068234"

pin[7]

'1'

In [19]:
a = "a:b:c:d"
a.replace(":", "#")

'a#b#c#d'

In [22]:
a=[1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [23]:
" ".join(['Life', 'is', 'too', 'short'])

'Life is too short'

In [40]:
#8

In [47]:
a[[1]] = 'python'
리스트는 쓸 수 없다.

In [29]:
a = {'A':90, 'B':80, 'C':70}
a.pop("B")

80

In [30]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
s1 = set(a)
s1

{1, 2, 3, 4, 5}

In [31]:
b 역시 바뀐다.
동일한 리스트를 가리키는 변수이다.

[1, 4, 3]

3장

In [ ]:
shirt

In [51]:
total=0
a=0
while a<1000:
    a+=1
    if a%3==0:
        total+=a
        
print(total)

166833